@import 'bourbon';

@mixin sprite($background-image, $width, $height) {
  background-image: $background-image;
  background-repeat: no-repeat;
  width: $width;
  height: $height;
}

@mixin sprite-position($background-position) {
  background-position: $background-position;
}

@mixin horizontal-icon-set($icons, $width, $offset, $y-pos) {
  $i: 0;
  @each $icon in $icons {
    $x-pos: -$width*$i - $offset;
    &.#{$icon}-icon {
      @include sprite-position($x-pos $y-pos);
    }
    $i: $i + 1;
  }
}

.element-icons {
  @include sprite(url('/images/Element-Icons.png'), 52px, 56px);

  $element-icons: title text image nav;
  @include horizontal-icon-set($element-icons, 54px, 9px, -8px);
}

.edit-icons {
  @include sprite(url('/images/Add-Delete-Edit-Icons.png'), 13px, 13px);

  $edit-icons: add edit remove;
  $sets: (light, -13px), (normal, -32px), (dark, -51px);

  @each $set in $sets {
    $icons: ();
    @each $icon in $edit-icons {
      $icon-name: #{nth($set, 1)}-#{$icon};
      $icons: append($icons, $icon-name);
    }

    @include horizontal-icon-set($icons, 21px, 13px, nth($set, 2));
  }
}


