@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $format: format('opentype')) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$file-path}') $format;
  }
}

@include font-face(proxima-nova, '/fonts/ProximaNova-Reg.otf', normal);
@include font-face(proxima-nova, '/fonts/ProximaNova-Sbold.otf', bold);


