@import 'bourbon';

@import 'styles/normalize';
@import 'styles/fonts';
@import 'styles/sidebar';


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: proxima-nova;
}

* {
  @include box-sizing(border-box);
}

$header-background-color: #4278BE;

.header {
  width: 100%;
  background-color: $header-background-color;

  .logo {
    margin-left: 15px;
  }
}
