doctype html
html
  head
    // build:css app.css
    link(rel='stylesheet', href='app.css')
    // endbuild
  body(ng-app="weeblyApp")

    .header
      img.logo(src="/images/Weebly-Logo.png")

    .sidebar
      .header TEMPLATES
      .templates-container
        .btn-page.btn-selected page
          .edit-icons.light-remove-icon
          .edit-icons.light-edit-icon
        .btn-page-add
          .edit-icons.light-add-icon
          input(type='text', placeholder='ADD NEW PAGE')

      .header ELEMENTS
      .elements
        .element-container
          .element-icons.title-icon
          h1 TITLE
        .element-container
          .element-icons.text-icon
          h1 TEXT
        .element-container
          .element-icons.image-icon
          h1 IMAGE
        .element-container
          .element-icons.nav-icon
          h1 NAV
      .cf

      .header SETTINGS

    // build:js vendor.js
    // bower:js
    script(src='bower_components/angular/angular.js')
    // endbower
    // endbuild
    // build:js app.js
    script(src="app.js")
    // endbuild
