doctype html
html
  head
    // build:css app.css
    link(rel='stylesheet', href='app.css')
    // endbuild
  body(ng-app="weeblyApp")

    .header
      img.logo(src="/images/Weebly-Logo.png")

    .sidebar
      .header TEMPLATES

      .templates-container
        .btn-page.btn-selected page
        .btn-page.btn-add
          input(type='text', placeholder='ADD NEW PAGE')

      .header ELEMENTS
      .elements
        .element-container
        .element-container
        .element-container
        .element-container
      .cf

      .header SETTINGS



    // build:js vendor.js
    // bower:js
    script(src='bower_components/angular/angular.js')
    // endbower
    // endbuild
    // build:js app.js
    script(src="app.js")
    // endbuild
